<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.bitethebullet.android.token"
    android:installLocation="auto"
    android:versionCode="6"
    android:versionName="1.00">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <application
        android:icon="@drawable/androidtoken"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">

        <activity android:name=".SettingActivity"></activity>
        <activity
            android:name=".TokenList"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="otpauth" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TokenAdd"
            android:label="@string/app_name" />
        <activity
            android:name=".PinChange"
            android:label="@string/app_name" />
        <activity
            android:name=".PinRemove"
            android:label="@string/app_name" />
    </application>

</manifest>